* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(241, 241, 241, 0.418);
}

.card {
    color: white;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    box-shadow: 8px 8px 20px 5px rgba(0, 0, 0, 0.2)
}

.title {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.80);
}

.details {
    margin-top: 20px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.60);


}

.sedans {
    padding: 2em;
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.suvs {
    padding: 2em;
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    padding: 2em;
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.icon {
    height: 30px;
    margin-bottom: 20px;
}

.button {
    margin-top: 70px;

}

button {
    font-family: 'Lexend Deca', sans-serif;
    border: none;
    height: 50px;
    text-align: center;
    font-size: 12px;
    border-radius: 25px;
    width: 140px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s;
    margin-right: 2px;
}

.button-sedans {
    color: hsl(31, 77%, 52%);
}

.button-suvs {
    color: hsl(184, 100%, 22%);
}

.button-luxury {
    color: hsl(179, 100%, 13%);
}

.button-sedans:hover {
    background-color: hsl(31, 77%, 52%);
    color: white;
    border: 1px solid;
}

.button-suvs:hover {
    background-color: hsl(184, 100%, 22%);
    color: white;
    border: 1px solid;
}

.button-luxury:hover {
    background-color: hsl(179, 100%, 13%);
    color: white;
    border: 1px solid;
}

@media screen and (min-width: 668px) {
    .container {
        display: flex;
        gap: 0;
        margin: 10PX;
        height: 450px;
        border-radius: 10px;
        overflow: hidden;
        max-width: 800px;
    }

    .card {
        margin: 0;
        display: flex;
        border-radius: 0;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
}